@font-face {
  font-family: "NeueHaasDisplayBlack";
  src: url(../fonts/neue/NeueHaasDisplayBlack.woff);
}
@font-face {
  font-family: "NeueHaasDisplayBlackItalic";
  src: url(../fonts/neue/NeueHaasDisplayBlackItalic.woff);
}
@font-face {
  font-family: "NeueHaasDisplayBold";
  src: url(../fonts/neue/NeueHaasDisplayBold.woff);
}
@font-face {
  font-family: "NeueHaasDisplayBoldItalic";
  src: url(../fonts/neue/NeueHaasDisplayBoldItalic.woff);
}
@font-face {
  font-family: "NeueHaasDisplayLight";
  src: url(../fonts/neue/NeueHaasDisplayLight.woff);
}
@font-face {
  font-family: "NeueHaasDisplayLightItalic";
  src: url(../fonts/neue/NeueHaasDisplayLightItalic.woff);
}
@font-face {
  font-family: "NeueHaasDisplayMedium";
  src: url(../fonts/neue/NeueHaasDisplayMedium.woff);
}
@font-face {
  font-family: "NeueHaasDisplayMediumItalic";
  src: url(../fonts/neue/NeueHaasDisplayMediumItalic.woff);
}
@font-face {
  font-family: "NeueHaasDisplayRoman";
  src: url(../fonts/neue/NeueHaasDisplayRoman.woff);
}
@font-face {
  font-family: "NeueHaasDisplayRomanItalic";
  src: url(../fonts/neue/NeueHaasDisplayRomanItalic.woff);
}
@font-face {
  font-family: "NeueHaasDisplayXXThin";
  src: url(../fonts/neue/NeueHaasDisplayXXThin.woff);
}
@font-face {
  font-family: "NeueHaasDisplayXXThinItalic";
  src: url(../fonts/neue/NeueHaasDisplayMedium.woff);
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  //   font-weight: normal;
  //   font-style: normal;
}
